<h1>{{title}}</h1>
<div>
  {{ birthday | date }}
</div>
<!--<app-hero-form></app-hero-form>-->
<!--<app-name-editor></app-name-editor>-->
<nav>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  <a routerLink="/admin" routerLinkActive="active">Admin</a>
  <a routerLink="/profile" routerLinkActive="active">profile</a>
  <a routerLink="/pipe_test" routerLinkActive="active">pipe_test</a>
  <a routerLink="/lin" routerLinkActive="active">lin</a>
  <a routerLink="/page1" routerLinkActive="active">page1</a>
  <a [routerLink]="[{outlets: { popup: ['compose']}}]">Contact</a>
</nav>
<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
<router-outlet name="popup"></router-outlet>
<app-messages></app-messages>
